.世界观背景{
      margin: 10px;
      padding: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: burlywood; 
      background-image: url(images/剧情图/世界观背景.webp);
      background-repeat: no-repeat;
        background-size: cover;
        background-position: center;      
    p{
           font-size: 20px;
        }
}
.主要剧情{
      margin: 10px;
      padding: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: lightgrey; 
    p{
           font-size: 20px;
        }
    }
.剧情特色{
      margin: 10px;
      padding: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: lightcyan; 
    p{
           font-size: 20px;
        }
    }