.战斗玩法{
    font-size: 20px;
    margin: 10px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightgray;
}
.职业分支{
    font-size: 20px;
    margin: 10px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightyellow;
}
.基建系统{
    font-size: 20px;
    margin: 10px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightpink;
}
.干员培养{
    font-size: 20px;
    margin: 10px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightcoral;
}
.其他玩法{
    font-size: 20px;
    margin: 10px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightgreen;
}