
.阿米娅{
      margin: 0px;
      padding: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: burlywood;
      background-image: url(images/角色图/阿米娅1.jpg);
      background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        p{
           font-size: 20px;
        }
        blackquote{
           color:aqua;
           font-size: 30px;
        }
    }
 .凯尔希{
      margin: 0px;
      padding: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color:chartreuse;
      background-image: url(images/角色图/凯尔希1.png);
      background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        p{
           font-size: 20px;
        }
        blackquote{
           color:chartreuse;
              font-size: 30px;
        }
    }
.博士{
      margin: 0px;
      padding: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: lightblue;
      background-image: url(images/角色图/博士1.jpg);
      background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        p{
           color: #ddd;
           font-size: 20px;
        }
        blackquote{
           color:darkkhaki;
        font-size: 30px;
        }
    }
.陈{
      margin: 0px;
      padding: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: lightcoral;
      background-image: url(images/角色图/陈1.jpeg);
      background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        p{
           color: #ddd;
            font-size: 20px;
        }
        blackquote{
           color:firebrick;
           font-size: 30px;
        }
    }